#root {
  --color-title: purple;
  --color-brand: purple;
  --z-popover: 60;
  --color-background: #f0f0f0;
  --color-text: black;
}
/* 기본 스타일 */
/* body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
} */

/* 모바일 (최대 600px) */
/* @media (max-width: 600px) {
  header {
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    text-align: left;
  }

  .content {
    text-align: center;
  }
} */

/* 태블릿 (601px ~ 960px) */
/* @media (min-width: 601px) and (max-width: 960px) {
  
} */

/* 데스크톱 (961px 이상) */
/* @media (min-width: 961px) {
  
} */
